/*
 * Copyright 2015 Hans de Goede <hdegoede@redhat.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "sun8i-a33.dtsi"
#include "sun8i-reference-design-tablet.dtsi"

/ {
	model = "Ezeetab96Q10 A33 Tablet";
	compatible = "allwinner,Ezeetab96Q10-a33", "allwinner,sun8i-a33";

	aliases {
		serial0 = &r_uart;
		/* Make u-boot set mac-address for rtl8703as (no eeprom) */
		ethernet0 = &rtl8703as;
	};

	wifi_pwrseq: pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_pwrseq_pin_ezeetab>;
		post-power-on-delay-ms = <200>;
	};

	backlight: backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&pwm 0 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 >;
		default-brightness-level = <8>;
		enable-gpios = <&pio 7 6 GPIO_ACTIVE_HIGH>; // PH6
		power-supply = <&reg_dc1sw>;
	};
};

&dsi {
	status = "okay";
	vcc-dsi-supply = <&reg_dc1sw>;

	panel@0 {
		status = "okay";
		compatible = "boe,tv096wxm";
		reg = <0>;
		vcc-supply = <&reg_dc1sw>;
		iovcc-supply = <&reg_eldo1>;
		reset-gpios = <&pio 7 9 GPIO_ACTIVE_LOW>; // PH09
		backlight = <&backlight>;

		port {
			panel_input: endpoint {
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
	};
};

&de {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

// It is already in the sun8i tablet reference design
&touchscreen {
	compatible = "silead,gsl3670";
	firmware-name = "gsl3670-polaroid-mid2809pxe04.fw";
	touchscreen-size-x = <1280>;
	touchscreen-size-y = <800>;
	touchscreen-inverted-x;
	touchscreen-swapped-x-y;
	interrupt-parent = <&pio>;
	interrupts = <1 5 IRQ_TYPE_EDGE_FALLING>; // PB05: port B (1), pin 5
	reset-gpios = <&pio 6 10 GPIO_ACTIVE_LOW>; // PG10: port G (6), pin 10
	vcc-supply = <&reg_dcdc1>;
	iovcc-supply = <&reg_ldo_io1>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_dcdc1>;
	bus-width = <4>;
	// TODO probe at the oscilloscope
	//cd-gpios = <&pio 1 4 GPIO_ACTIVE_LOW>; /* PB4 needs a pull up */
	non-removable;
	status = "okay";
};

// Disable otherwise the gpio ldo won't output anything
&axp_gpio {
	status = "disabled";
};

&reg_ldo_io0 {
	regulator-always-on;
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
	regulator-name = "vcc-2V8-csi-avdd";
 	status = "okay";
};

&reg_ldo_io1 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-3V3-touchscreen";
 	status = "okay";
};

&reg_eldo1 {
	regulator-always-on;
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
	regulator-name = "vcc-2V8-lcd";
 	//status = "okay";
};

&reg_eldo2 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vcc-1V8-csi-dvdd";
 	status = "okay";
};

&reg_dldo1 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-3V3-Wifi";
 	status = "okay";
};

&pio {
    vcc-pb-supply = <&reg_dcdc1>;
    vcc-pf-supply = <&reg_dcdc1>;
    vcc-pg-supply = <&reg_dcdc1>;
	vcc-ph-supply = <&reg_dcdc1>;
	vcc-pl-supply = <&reg_dcdc1>;
   /*
	mmc0_pins: mmc0-pins {
		pins = "PF0", "PF1", "PF2",
				"PF3", "PF4", "PF5";
		function = "mmc0";
		drive-strength = <30>;
		bias-pull-up;
	};

   mmc0_cd_pin: mmc0-cd-pin {
    pins = "PB4";
    function = "cd-gpios";
    bias-pull-up;
   };
*/
};

/**
PL4:  wl_reg_on
PL6:  rf chip_en
PL7:  wl_host_wake
PL8:  bt_rst
PL9:  bt_wake
PL10: bt_host_wake
*/
&r_pio {
	wifi_pwrseq_pin_ezeetab: wifi-pwrseq-pins {
		pins = "PL4", "PL6", "PL7", "PL8", "PL9", "PL10";
		function = "gpio_in";
		bias-pull-up;
	};
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pg_pins>;
	vmmc-supply = <&reg_dldo1>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";

	rtl8703as: wifi@1 {
		reg = <1>;
		interrupt-parent = <&r_pio>;
		interrupts = <0 7 IRQ_TYPE_LEVEL_LOW>; // PL7
		interrupt-names = "host-wake";
	};
};

/*
	rtl8703as: wifi@1 {
		reg = <1>;
	};
	rtl8703as: wifi@1 {
		reg = <1>;
		interrupt-parent = <&r_pio>;
		interrupts = <0 7 IRQ_TYPE_LEVEL_LOW>; // PL7
		interrupt-names = "host-wake";
	};
*/

&uart1 {
	pinctrl-names = "default";
    pinctrl-0 = <&uart1_pg_pins>, <&uart1_cts_rts_pg_pins>;
    uart-has-rtscts;
	status = "okay";

    bluetooth {
        compatible = "realtek,rtl8703as-bt";
        enable-gpios = <&pio 0 8 GPIO_ACTIVE_HIGH>;       // PL08
        host-wake-gpios = <&pio 0 9 GPIO_ACTIVE_LOW>;     // PL09
        device-wake-gpios = <&pio 0 10 GPIO_ACTIVE_HIGH>; // PL10
	};
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_8bit_pins>;
	vmmc-supply = <&reg_dcdc1>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	status = "okay";
};

&mmc2_8bit_pins {
	/* Increase drive strength for DDR modes */
	drive-strength = <40>;
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};

&sound {
	status = "enabled";
};

/*
&soc {

	dai: dai@1c22c00 {
		status = "enabled";
	};

	codec: codec@1c22e00 {
		status = "enabled";
	};
};
*/